.nav > li {
    margin-left: 50px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

#curTime {
    margin-top: 30px;
}

#timer {
    margin-bottom: 15px;
}

@media only screen and (max-width : 770px) {
    .nav > li {
        margin-left: 15px;
    }
}